	<!DOCTYPE html>
	<%- include('layouts/header');-%>
	  <body>

	<%- include('layouts/scripts');-%>

	<%- include('layouts/navbar');-%>

	<!-- CAROSELLO -->
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active" style="background-image: url(img/laurea.jpg);">	
		  <div class = "carousel-caption">
		  <h3> Whoami </h3>
		  <p> Sono Fernet, blabla bla bla bla bla e bla bla </p>
		  </div>
	    </div>

	    <div class="carousel-item" style="background-image: url(img/machine.jpg);">
		  <div class = "carousel-caption">
		  <h3> Whoami </h3>
		  <p> Sono Fernet, blabla bla bla bla bla e bla bla </p>
		  </div>

	    </div>
	    <div class="carousel-item" style="background-image: url(img/pc.jpg);">
		  <div class = "carousel-caption">
		  <h3> Whoami </h3>
		  <p> Sono Fernet, blabla bla bla bla bla e bla bla </p>
		  </div>
	    </div>

	  </div>

	  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>



	<div class = "social" >

	<div class="row">
	  <div class="column">
	    <a href="https://github.com/Fernet97"><img src="social/git.png" alt="github" onclick="myFunction(this);"></a>
	  </div>
	  <div class="column">
	    <a href="https://www.linkedin.com/in/pierluigi-liguori/"><img src="social/linkedin.png" alt="linkedin" onclick="myFunction(this);"></a>
	  </div>
	  <div class="column">
	    <a href="https://www.instagram.com/_fernet_/"><img src="social/insta.png" alt="instagram" onclick="myFunction(this);"></a>
	  </div>
	  <div class="column">
	    <a href="https://www.facebook.com/p.liguori7/"><img src="social/facebook.png" alt="facebook" onclick="myFunction(this);"></a>
	  </div>
	</div>


	</div>




	<div class="projectext"> PROJECTS </div>

	<div id="projectarea">
	<div class="projectiem" data-text="iDea"> 
	<img src="img/idea.png" alt="iDea Project" onclick="myFunction(this);">
	</div>

	<div class="projectiem"  data-text="Stocks">
	<img src="img/stock.png" alt="Stock Management" onclick="myFunction(this);"></div>

	<div class="projectiem"  data-text="Indoor"> 
	<img src="img/indoor.jpg" alt="Microbotany" onclick="myFunction(this);"></div>
	</div>



	<div id= "container">
	<div class="projectext"> BACHECA </div>
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">List group item heading</h5>
	      <small>3 days ago</small>
	    </div>
	    <p class="mb-1">Questo è un semplice testo</p>
	    <small>Donec id elit non mi porta.</small>
	  </a>
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">List group item heading</h5>
	      <small class="text-muted">3 days ago</small>
	    </div>
	    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	    <small class="text-muted">Donec id elit non mi porta.</small>
	  </a>
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">List group item heading</h5>
	      <small class="text-muted">3 days ago</small>
	    </div>
	    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	    <small class="text-muted">Donec id elit non mi porta.</small>
	  </a>
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">List group item heading</h5>
	      <small class="text-muted">3 days ago</small>
	    </div>
	    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	    <small class="text-muted">Donec id elit non mi porta.</small>
	  </a>
	</div>





	<div class="flip-card">
	  <div class="flip-card-inner">
	    <div class="flip-card-front">
	      <img src="img/logo1.jpeg" alt="Avatar" style="width:300px;height:300px;">
	    </div>
	    <div class="flip-card-back">
	         <h1> Skills</h1>
			<div class="progress">
			  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><b> Java </b></div>
			</div>
			<div class="progress">
			  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><b>Android Native</b></div>
			</div>
			<div class="progress">
			  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> <b> Web Application </b> </div>
			</div>
			<div class="progress">
			  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> <b> Python </b> </div>
			</div>

			<button type="button" class="btn btn-danger"><img src="img/like.png" alt="like" onclick="myFunction(this);"></button>
	    </div>
	  </div>
	</div>

	</div>


	<%- include('layouts/footer');-%>


	</body>
	</html>

