	<!DOCTYPE html>
	<%- include('layouts/header');-%>
	  <body>

	<%- include('layouts/scripts');-%>

	<%- include('layouts/navbar');-%>



	<div> QUESTO SARA' IL PORTALE DEI PROGETTI. </div>

		<%- include('layouts/footer');-%>


	</body>
	</html>